<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Table students</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
    <a class="navbar-brand">Entity Management System</a>
    <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Entities</a>
                <form class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/courses}">Courses</a>
                    <a class="dropdown-item" th:href="@{/groups}">Groups</a>
                    <a class="dropdown-item" th:href="@{/timetables}">Timetable</a>
                    <a class="dropdown-item" th:href="@{/teachers}">Teacher</a>
                    <a class="dropdown-item" th:href="@{/student_courses}">Student-course</a>
                    <a class="dropdown-item" th:href="@{/students}">Student</a>
                    <a class="dropdown-item" th:href="@{/departments}">Department</a>
                    <a class="dropdown-item" th:href="@{/universities}">University</a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<table class="table table-bordered table-sm">
    <thead class="table-active">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">GroupsId</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${students}">
        <td>
            <a class="text-secondary" th:href="@{/students/{id}(id=${student.getId()})}" th:text="${student.getId()}">id</a>
        </td>
        <td>
            <a class="text-secondary" th:href="@{/groups/{id}(id=${student.getGroups().getId()})}" th:text="${student.getGroups().getId()}">id</a>
        </td>
        <td th:text="${student.getFirstName()}"/>
        <td th:text="${student.getLastName()}"/>
        <td th:text="${student.getAge()}"/>
    </tr>
    </tbody>
</table>
<a class="btn-info" th:href="@{/students/new}">Add new students</a>
</body>
</html>