<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show course</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="d-grid gap-2 col-6 mx-auto">
    <h1>Course</h1>
    <hr>
    <b>Id:</b>
    <p class="fw-normal" th:text="${course.getId()}">VALUE</p>
    <hr>
    <b>Name:</b>
    <p class="fw-normal" th:text="${course.getName()}">VALUE</p>
    <hr>
    <b>Description:</b>
    <p class="fw-normal" th:text="${course.getDescription()}">VALUE</p>
    <hr>
    <a class=" btn btn-secondary d-grid gap-2 col-12 mx-auto" th:href="@{/courses/{id}/edit(id=${course.getId()})}"><b>Edit</b></a>

    <form th:method="DELETE" th:action="@{/courses/{id}(id=${course.getId()})}">
        <input class="btn btn-danger d-grid gap-2 col-12 mx-auto" type="submit" value="Delete"/>
    </form>
</div>

</body>
</html>