<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show course</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
    <a class="navbar-brand">Entity Management System</a>
    <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Entities</a>
                <form class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/courses}">Courses</a>
                    <a class="dropdown-item" th:href="@{/groups}">Groups</a>
                    <a class="dropdown-item" th:href="@{/timetables}">Timetable</a>
                    <a class="dropdown-item" th:href="@{/teachers}">Teacher</a>
                    <a class="dropdown-item" th:href="@{/student_courses}">Student-course</a>
                    <a class="dropdown-item" th:href="@{/students}">Student</a>
                    <a class="dropdown-item" th:href="@{/departments}">Department</a>
                    <a class="dropdown-item" th:href="@{/universities}">University</a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="d-grid gap-2 col-6 mx-auto">
    <h1>Course</h1>
    <hr>
    <b>Id:</b>
    <p class="fw-normal" th:text="${course.getId()}">VALUE</p>
    <hr>
    <b>Name:</b>
    <p class="fw-normal" th:text="${course.getName()}">VALUE</p>
    <hr>
    <b>Description:</b>
    <p class="fw-normal" th:text="${course.getDescription()}">VALUE</p>
    <hr>
    <a class=" btn btn-secondary d-grid gap-2 col-12 mx-auto" th:href="@{/courses/{id}/edit(id=${course.getId()})}"><b>Edit</b></a>

    <form th:method="DELETE" th:action="@{/courses/{id}(id=${course.getId()})}">
        <input class="btn btn-danger d-grid gap-2 col-12 mx-auto" type="submit" value="Delete"/>
    </form>
</div>

</body>
</html>