<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Table timetables</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered table-sm">
    <thead class="table-active">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">CourseId</th>
        <th scope="col">GroupsId</th>
        <th scope="col">TeacherId</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timetable: ${timetables}">
        <td>
            <a class="text-secondary" th:href="@{/timetables/{id}(id=${timetable.getId()})}" th:text="${timetable.getId()}">id</a>
        </td>
        <td th:text="${timetable.getCourseId()}"/>
        <td th:text="${timetable.getGroupsId()}"/>
        <td th:text="${timetable.getTeacherId()}"/>
        <td th:text="${timetable.getDate()}"/>
    </tr>
    </tbody>
</table>
<a class="btn-info" th:href="@{/timetables/new}">Add new timetable</a>
</body>
</html>