<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Table student-courses</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered table-sm">
    <thead class="table-active">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">CourseId</th>
        <th scope="col">StudentId</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="studentCourse: ${studentCourses}">
        <td>
            <a class="text-secondary" th:href="@{/student_courses/{id}(id=${studentCourse.getId()})}" th:text="${studentCourse.getId()}">id</a>
        </td>
        <td th:text="${studentCourse.getCourseId()}"/>
        <td th:text="${studentCourse.getStudentId()}"/>
    </tr>
    </tbody>
</table>
<a class="btn-info" th:href="@{/student_courses/new}">Add new student-course</a>
</body>
</html>